@import '~bootstrap/scss/bootstrap';

header {
    height: 75px;
}

.main-wrapper {
    height: calc(100vh - 70px);
}

aside {
    width: 20%;

    ul {
        list-style: none;
        cursor: pointer;
        padding: 0;
        margin: 0;

        li {
            line-height: 40px;


            &:hover {
                background-color: rgba(255, 255, 255, 0.4);
            }

            a {
                text-decoration: none;
                color: white;
                margin-left: 30px;
            }
        }
    }
}

input {
    border: none;
}
